	<div class="container">
		<div class="row">
			<h5>¿Por qué es una buena práctica separar el controlador de la vista?</h5>
			<h6>Para facilitar el desarrollo y la comprensión del código a futuro</h6>
		</div>

		<div class="row">
			<h5>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</h5>

			<table class="table">
				<thead>
					<th>Arreglos</th>
					<th>Funcion</th>
				</thead>

				<tbody>
					<tr>
						<td>$GLOBALS</td>
						<td>Hace referencia a todas las variables globales</td>
					</tr>
					<tr>
						<td>$_​SERVER</td>
						<td>Contiene información del sistema y del ambiente de ejecución del servidor</td>
					</tr>
					<tr>
						<td>$_​GET</td>
						<td> Variables del método GET de http</td>
					</tr>
					<tr>
						<td>$_​POST</td>
						<td> Variables del método POST de http</td>
					</tr>
					<tr>
						<td>$_​FILES</td>
						<td> Variables del file upload de http</td>
					</tr>
					<tr>
						<td>$_​COOKIE</td>
						<td>Cookies de http</td>
					</tr>
					<tr>
						<td>$_​SESSION</td>
						<td>Variables de sesión</td>
					</tr>
					<tr>
						<td>$_​REQUEST</td>
						<td>Variables de un Request en http</td>
					</tr>
					<tr>
						<td>$_​REQUEST</td>
						<td>Variables de un Request en http</td>
					</tr>
					<tr>
						<td>$_​ENV</td>
						<td>Variables de entorno</td>
					</tr>

				</tbody>
			</table>
		</div>

		<div class="row">
			<h5>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</h5>
			<h6>htmlspecialchars(), Modifica el string para evitar que los caracteres y tags de HTML se ejecuten</h6>
		</div>
		<h6>glob(), Busca archivos en el directorio local (del servidor)</h6>

		<div class="row">
			<h5>¿Qué es XSS y cómo se puede prevenir?</h5>
			<h6> XSS (Cross-site scripting) es una manera de inyectar código (posiblemente malicioso) a una página con fines de modificar su funcionamiento. Se puede prevenir tomando mediadas especiales al procesar datos que el usuario ingresa.</h6>
		</div>
	</div>

<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>