

<form action="index.php" method="post">
	<div class="container">
		<div class="form-group">
			<label>Nombre</label>
			<input type="text" name="name">	
			<br>
		</div>
		<div class="form-group" >
				<label>Email</label>
				<input type="text" name="email">
				<br>
		</div>
		<div class="form-group" >
				<label>Telefono</label>
				<input type="text" name="phone">
				<br>
		</div>
		<div class="form-group" >
				<label>Fecha de Nacimiento</label>
				<input type="date" name="cumpleanos">
				<br>
		</div>
		<div class="form-group">	
			<input class="btn btn-primary" type="submit" name="submit" value="submit">
		</div>
	</div>
</form>
