<body>
 
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

  <div class="row">
            <div class="col">
                <h3>Modifica Reporte</h3>
            </div>
        </div>
        <div id="form">
            <br><br>

                <input type="text" class="form-control" id="NumReporte" hidden="true">
                <input type="text" class="form-control" id="NumEmpleado" hidden="true">
                
            <div class="row">
                <div class="col">
                    <label for="NumPaciente">Numero Paciente</label>
                    <input type="text" class="form-control" id="NumPaciente">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label for="Valoracion">Valoracion</label>
                    <input type="text"  class="form-control" id="Valoracion">
                    </input>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Terapia">Terapia</label>
                    <input type="text" class="form-control" id="Terapia">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Tratamiento">Tratamiento</label>
                    <input type="text"  class="form-control" id="Tratamiento">
                    </input>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Avances">Avances</label>
                    <input type="text"  class="form-control" id="Avances">
                    </input>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Fecha">Fecha</label>
                    <input type="text"  class="form-control" id="Fecha">
                    </input>  
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button id="modificar" class="btn btn-success">Modificar</button>
                </div>
            </div>
        </div>
           
            <br>

</main>