


	<div class="container alert.info">
		 <h3>¿Por qué es una buena práctica separar el modelo del controlador?</h3>
    <p>Es buena practica ya que así tienes mucho más organizado todo. El usuario solo debe fer el front-end, no es necesario que el usuario vea algo lo cual no es "user friendly". El controlador se encarga de gestionar las instrucciones que se reciben, las
        atiende y las procesa y no es necesario que el usuario se entere de esto.</p>
    <h3>¿Qué es SQL injection y cómo se puede prevenir?</h3>
    <p>Una SQL Injection es un tipo de ataque el cual inyecta instrucciones SQL de manera maliciosa para manipular la base de datos. Con este tipo de ataques la base de datos puede estar en peligro en su totalidad.</p>
    <p>Una manera de protegerse es escapando los caracteres especiales en las consultas SQL, otra manera es verificar los datos que introduce el usuario, otra es asignando mínimos privilegios al usuario que conectará con la base de datos.</p>
    <br>
	</div>

	
	<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
	<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>