   
    <script src="js/index.js"></script>
    <script src="js/main.js"></script>
    <script src="js/actualiza.js"></script>


       
</body>
</html>

<script type="text/javascript">
	$(document).ready(function(){
		$('#tabla').load('php/tabla.php');
    
	});

	
</script>

