<body>
 
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

  <div class="row">
            <div class="col">
                <h3>Modifica Donador</h3>
            </div>
        </div>
        <div id="form">
            <br><br>

                <input type="text" class="form-control" id="id_donador" hidden="true">
            <div class="row">
                <div class="col">
                    <label for="RazonSocial">Razón Social</label>
                    <input type="text" class="form-control" id="RazonSocial">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label for="RFC">RFC</label>
                    <input type="text"  class="form-control" id="RFC">
                    </input>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Correo">Correo</label>
                    <input type="text" class="form-control" id="Correo">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Rol">Telefono</label>
                    <input type="text"  class="form-control" id="Telefono">
                    </input>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Fecha">Fecha</label>
                    <input type="date"  class="form-control" id="Fecha">
                    </input>  
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button id="modificar" class="btn btn-success">Modificar</button>
                </div>
            </div>
        </div>
           
            <br>

</main>