<body>
 
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <img src="../images/LOGO PNG.png" style="width: 90px; height: 90px">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">Asunción</a>
       
      </div>
      
      <!-- sidebar-header  -->
     
      
      
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-users"></i>
              <span>Empleados</span>
              
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Crear Empleado</a>
                </li>
                <li>
                  <a href="#">Consultar Empleados</a>
                </li>
                <li>
                  <a href="#">Modificar/Eliminar Empleado</a>
                </li>
                 
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-address-card"></i>
              <span>Pacientes</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Registrar Paciente</a>
                </li>
                <li>
                  <a href="#">Modificar/Eliminar Paciente</a>
                </li>
                 <li>
                  <a href="#">Consultar Paciente</a>
                </li>
                 </ul>
            </div>
          </li>

          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-dollar-sign"></i>
              <span>Donaciones</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Registrar Donador</a>
                </li>
                <li>
                  <a href="#">Registrar Donacion</a>
                </li>
                <li>
                  <a href="#">Consultar Donaciones</a>
                </li>
               
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-file-alt"></i>
              <span>Registros de Pacientes</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Crear Registro</a>
                </li>
                <li>
                  <a href="#">Consultar Registros</a>
                </li>
              </ul>  
          </li>

             <li class="sidebar-dropdown">
              <a href="#">
              <i class="fas fa-tasks"></i>
              <span>Asistencias</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Toma de asistencia</a>
                  </li>
                                  
            </li>
           
              </ul>
            </div>
          </li>
         </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <div class="sidebar-footer">
      <a href="#">
        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar sesion</span>
      </a>
    </div>
    <!-- sidebar-content  -->
  </nav>


