<header style="background-color: green;">
	<title>Laboratorio 9</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	
</header>
<body>

	<div class="container" style="background-color: green;">
	<h1>Samuel Octavio González Azpeitia</h1>
	<h2>A01704696</h2>
	<h2>sogazpeitia@gmail.com</h2>
	</div>