<body>
 
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

  <div class="container">
      <div class="row">
        <div class="col">
          <h5>Consulta Donaciones</h5>  
        </div>
      </div>

      <div class="row">
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="busqueda">Filtro:</label>

          <input type="text" name="busqueda" id="busqueda" placeholder="Nombre ...">
        </div>
      </div>
  </div>

 <div class="tab-content" method="POST">
    <div class="tab-pane fade show active"role="tabpanel" aria-labelledy="compara-tab">
      <div class="table-responsive container">
        
   
      <div id="tabla"></div>
      
    </div>
  </div>
</div>

</main>