<body>
 
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

  <div class="row">
            <div class="col">
                <h3>Modifica empleado</h3>
            </div>
        </div>
        <div id="form">
            <br><br>
            <div class="row">
                <div class="col">
                    <label for="Nombres">Razón Social</label>
                    <input type="text" class="form-control" id="RazonSocial">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Correo">Nombre</label>
                    <input type="text" class="form-control" id="Nombre">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Especialidad">RFC</label>
                    <select type="text"  class="form-control" id="RFC">
                    </select>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Contraseña">Correo</label>
                    <input type="email" class="form-control" id="Correo">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Rol">Telefono</label>
                    <select type="text"  class="form-control" id="Telefono">
                    </select>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Rol">Fecha</label>
                    <select type="date"  class="form-control" id="Fecha">
                    </select>  
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button id="modificar" class="btn btn-success">Modificar</button>
                </div>
            </div>
        </div>
           
            <br>

</main>